<wrapper class="content-email">
  <container>
    <row class="collapse">
      <columns small="12" large="12">
        <p class="app-download__p">%%text_before_button</p>
      </columns>
    </row>
    <spacer size="15"></spacer>
    <row>
        <columns small="12" large="12">
            <center>
                <button class="large" href="%%download_btn_link">%%download_btn_text</button>
            </center>
        </columns>
    </row>
    <spacer size="15"></spacer>
    <row class="collapse">
      <columns small="12" large="12">
        <p class="app-download__p">%%text_after_button_1</p>
        <p class="app-download__p">%%text_after_button_2</p>
        <p class="app-download__p">%%text_after_button_3</p>
        <p class="app-download__p">%%text_after_button_4</p>
      </columns>
    </row>
  </container>
</wrapper>