<wrapper class="download">
  <container>
    <row class="collapse">
      <columns small="12" large="12">
          <p class="text-center download__info">%%download_text_1</p>
          <h1 class="text-center download__title">%%download_text_2</h1>
          <center>
            <a href="%%download_link_1">
              <img class="download__img-market" src="%%download_img_link_1" alt="apple market">
            </a>
            <a href="%%download_link_2">
              <img class="download__img-market" src="%%download_img_link_2" alt="android market">
            </a>
          </center>
      </columns>
    </row>
  </container>
</wrapper>
