<row class="small-columns--right">
    <columns small="3" large="1">
        <a href="https://www.facebook.com/flyersconcierge">
            <img src="static/emails/images/social-icons/face.png">
        </a>
    </columns>
    <columns small="3" large="1">
        <a href="https://twitter.com/flyersconcierge">
            <img src="static/emails/images/social-icons/twitter.png">
        </a>
    </columns>
    <columns small="3" large="1">
        <a href="https://google.com/+Flyersconcierge">
            <img src="static/emails/images/social-icons/g+.png">
        </a>
    </columns>
</row>
<row class="small-columns--right">
    <columns small="3" large="1">
        <a href="https://youtube.com/c/Flyersconcierge">
            <img src="static/emails/images/social-icons/youtube.png">
        </a>
    </columns>
    <columns small="3" large="1">
        <a href="http://blog.flyersconcierge.com/">
            <img src="static/emails/images/social-icons/wordpress.png">
        </a>
    </columns>
    <columns small="3" large="1"></columns>
</row>

